@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.woff) format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato-Bold.woff) format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Black.woff2) format("woff2"), url(../fonts/Lato-Black.woff) format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url(../fonts/larsseit_regular.ttf) format("ttf");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Lato";
	font-weight: 900;
}

.title {
	font-family: "Roboto";
}

p {
	color: red;
}

#ipsun {
	color: blue;
}

.text3 {
	color: brown;
}

.text4 p {
	color: aquamarine;
}

.text1 {
	font-family: "Larsseit";
	color: green;
}

#sub {
	color: brown;
}

h2.subtitle {
color: blueviolet;
}

.subtitle {
	color: yellow !important;
}
